{% extends 'core/base.html' %}

{% block body %}
    <table border="1">
        <tr>
            <td>Card number:</td>
            <td>{{ card.number }}</td>
        </tr>
        <tr>
            <td>Issue date:</td>
            <td>{{ date }}</td>
        </tr>
        <tr>
            <td>Withdraw amount:</td>
            <td>{{ widthdraw_amount }}</td>
        </tr>
        <tr>
            <td>Current balance:</td>
            <td>{{ card.balance }}</td>
        </tr>
    </table>
    <a href="{% url 'index' %}">Back</a>
{% endblock %}